@media (max-width: 1000px) {
    .contain_grass {
        height: 77px !important;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button_background {
        position: initial !important;
        width: 180px;
    }

    .button_background::after {
        position: initial !important;
    }

    .button_background::before {
        position: initial !important;
    }
}

@media(max-width:768px) {
    .hamburger {
        display: block !important;
        z-index: 500;
        margin-top: 20px;
    }

    .burger {
        position: fixed;
        left: 50%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed !important;
        margin: 0 !important;
        left: -100%;
        top: 0;
        height: 100vh;
        z-index: 100;
        gap: 0;
        background-color: rgb(19, 17, 17);
        width: 100%;
        text-align: center;
        align-items: center !important;
        transition: 0.3s;

        .nav_item {
            margin: 16px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .nav_a {
                padding: 16px;
                box-shadow: 0 2px 6px -1px red;
            }
        }
    }

    .nav-menu:active {
        left: 0;
    }

    .menu-nav {
        left: 0;
    }
}
@media (max-width: 650px) {
    #gameboard {
        width: 10px;
        height: 10px;
    }
    .body_game {
        overflow-x: hidden;
    }
    .contain_responsive {
        display: flex !important;
        z-index: 40;
        height: 110vh;
        width: 100%;
        position: absolute;
        background-color: rgb(19, 17, 17);
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        p {
            color: antiquewhite;
            text-align: center;
            padding: 10px;
        }
    }
}
@media (max-width: 600px) {
    .contain_grass {
        height: 38px !important;
    }
    .contain_int_quote {
        flex-direction: column !important;
    }

    .modal {
        left: 0 !important;
        width: 100% !important;
    }

    .contain_skull {
        .skull {
            object-fit: cover;
            width: 80vw;
        }
    }
}
@media (max-width: 525px) {
    .contain_grass {
        height: 0 !important;
    }
}